<div class="company">
  <mat-card class="company__card">
    <mat-card-header>
      <h2>Create Company</h2>
    </mat-card-header>
    <mat-card-content class="company__card-content">
      <div class="company__create-company">
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <input matInput type="text" name="Name" required placeholder="Name" [(ngModel)]="company.name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" name="City" required placeholder="City" [(ngModel)]="company.city" />
        </mat-form-field>
        {{ company | json }}
        <button mat-raised-button color="primary" (click)="createCompany()">Create Company</button>
      </div>
      <app-company-details *ngIf="company" [company]="company" class="company__edit-company"></app-company-details>
    </mat-card-content>
  </mat-card>
</div>
