.company {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__edit-company,
  &__create-company {
    width: 40%;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
  }

  &__create-company {
    display: flex;
    flex-direction: column;
  }
}
